/*.App {
  font-family: sans-serif;
  text-align: center;
}*/
.App {  
  max-width: 40rem;  
  margin: 2rem auto;  
} 
/*.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  column-gap: 10px;
}

.App > * {
  flex: 1;
}*/



