.App {
    margin: 20px;
}
.text{
    margin-left: 20px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}
.horizontal{
    display: flex;
    flex-direction: row;
}
.hrecipe-rating{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.vertical{
    display: flex;
    flex-direction: column;
}
.vrecipe-rating{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: center;
}
.recipe-rating{
    display: flex;
    margin-left: auto; 
    margin-right: 50px;
    flex-direction: column;
}
.Dropdown{
    margin-left: 100px;
    margin-bottom: 25px;
    width: 200px;
    height: 30px;
}
.searchDish{
    width: 300px;
    align-content: center;
}
.searchIngr{
    width: 300px;
    align-content: center;
}
.k-my-8{
    align-content: center;
    width: 800px;
}
.text-rating{
    text-align: center;
}
.p{
    font-size: 20px;
}
.btnplaylist {
    /*background-image: url("https://cdn-icons-png.flaticon.com/512/32/32557.png");*/
    background-size: cover;
    width: 20px;
    height: 20px;
    display:block;
  }
  
  .btn-play {
    background-color: transparent;
    border-radius: 35px;
    border: 1px dotted #ccc;
    color: white;
    width: 40px;
    height: 40px;
    padding: 9px;
  }
.image{
    background-size: cover;
    width: 100px;
    height: 100px;
}

a {
    color: black;
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font-size: 24px;
}

a:hover {
    color: white;
    background-color: black;
    text-decoration-style: solid;
}

h1{
    text-align: center;
}

p.nowrap {
    white-space: nowrap;
}