
a {
    text-decoration: none;
}

.content-all {
    font-size: 18px;
    text-align: center;
}
h3 {
    text-align: center;
}

li.items {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.warning {
    color: red;
    font-size: 18px;
}

.more-info {
    alignment: bottom;
}

ul.rating {
    alignment: left;
    /*background-color: indianred;*/
    border-left: 10px solid red;
}

.recipes {

}